<h1>About VRC Scouting and Analysis</h1>

<div>
    <p><b>Author:</b> Rishi Bala/4610J</p>
    <p><b>Email:</b> rishibala2007@gmail.com</p>
    <p><b>Github Repository:</b> <a href="https://github.com/rbala25/VEX-Scouting">VEX-Scouting</a></p>


</div>