<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>
    <h1>VRC Scouting and Analysis</h1>

    <h2>Please Log In</h2>

    <form action="/user" method="post">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username" maxlength="50">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password" maxlength="50">
        </div>
        <div id="submit">
            <input type="submit" value="Log In">
        </div>
    </form>

    <% if(incorrect) { %>
        <h4>Account not found. Please try again.</h4>
        <% } %>
</body>

</html>