body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
}

#wraph1 {
    text-align: center;
}

.but {
    /* display: inline-block; */
    margin-top: 0.75em;
    margin-right: 1.2em;
    float: right;
}

.butt {
    width: 90%;
    height: 3em;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    font: Georgia;
    font-weight: 500;
    margin-bottom: 2%;
}

.butt:hover {
    color: #FFFFFF;
    background-color: black;
}

#buttdiv {
    margin: auto;
    justify-content: center;
    text-align: center;
}

#basicInf {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 1.5em;
}

#basicInfH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#bol {
    font-weight: 600;
    font-size: 1.2em;
}

#specificInf {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 0.7em;
    text-align: left;
    margin-left: auto;
    margin-right: 0.2em;
}

#specificInfH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#specificInf li {
    margin-left: 1.4em;
}

#award {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 2em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.label {
    margin-left: 1em;

}

#classchoice {
    /* margin-top: 10em; */
    margin-left: 0.2em;
    padding-left: 2%;
    border: 1mm solid #500a78;
    border-radius: 7px;
    margin-bottom: 0.7em;
    text-align: left;
    margin-left: auto;
    margin-right: 0.2em;
    width: 70%;
}

.choice {
    border: 1mm solid gray;
    border-radius: 7px;
    width: 90%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 0.5em;
}

.h3choice {
    font-size: 1.5em;
    margin-bottom: 0em;
}

#classchoice a {
    position: relative;
    display: inline-block;
    transition: .3s;
    text-decoration: none;
    color: purple;
}

a::after {
    position: absolute;
    bottom: .3em;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0;
    transition: .3s;
}

a:hover::after {
    bottom: 0;
    opacity: 1;
}

a:hover {
    color: black;
}

.trueskill {
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: solid;
}

.check {
    width: 45px;
    height: 15px;
    background: #555;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.skills {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1.2em;
}

section p {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.labelc {
    transition: all .5s ease;
    border-bottom: 1px solid black;
}

#save {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 20em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#save:hover {
    background-color: #F082AC;

}

#selectBox {
    width: 80%;
    height: 10.25em;
    border: 1px solid #999;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #000000;
    background-color: rgb(185, 184, 184);
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

#selectBox::selection {
    background-color: rgba(185, 184, 184, 75);
}

#save12 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 9em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#save12:hover {
    background-color: #F082AC;
}

#noteams {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 2em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 1.5em;
}