body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2rem;
    display: inline-block;
    /* text-align: center; */
    margin-bottom: 0.5em;
}

#wraph1 {
    text-align: center;
}

.but {
    /* display: inline-block; */
    margin-top: 0.75em;
    margin-right: 1.2em;
    float: right;
}

.butt {
    width: 37em;
    height: 3em;
    /* display: inline-block; */
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    font: Georgia;
    font-weight: 500;
    margin-bottom: 2%;
}

.butt:hover {
    color: #FFFFFF;
    background-color: black;
}

#basicInf {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 1.5em;
}

#basicInfH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#bol {
    font-weight: 600;
    font-size: 1.2em;
}

#specificInf {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 0.7em;
    text-align: left;
    margin-left: auto;
    margin-right: 0.2em;
}

#specificInfH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#specificInf li {
    margin-left: 1.4em;
}

#award {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}

#awardH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

.label {
    margin-left: 1em;

}

#award li {
    margin-left: 1.4em;
}

#scoutingBox {
    margin-left: 0.2em;
    padding-left: 2%;
    margin-top: 0.6em;
    border: 1mm solid #500a78;
    border-radius: 7px;
    width: 60%;
    margin-bottom: 0.7em;
    text-align: left;
    margin-left: auto;
    margin-right: 0.2em;
}

#scoutingH {
    font-size: 1.8em;
    margin-left: 0em;
    margin-bottom: 0em;
}

.check {
    width: 45px;
    height: 15px;
    background: #555;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}


.labelc {
    transition: all .5s ease;
    border-bottom: 1px solid black;
}

#save {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 20em;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#save:hover {
    background-color: #F082AC;

}

.noawards {
    font-weight: 600;
}

textarea {
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    /* margin-left: 1%; */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    background-color: rgb(240, 240, 240);
}